[Unit]
Description=Svelte Kit interfluxfrance.com
After=network.target

[Service]
Type=simple
User=interflux
WorkingDirectory=/var/www/interfluxfrance.com
Environment=NODE_ENV=production
Environment=PORT=3000
ExecStart=/home/interflux/.nvm/versions/node/v24.13.0/bin/node build/index.js
ExecReload=/bin/kill -TSTP $MAINPID
Restart=always
KillMode=process
StandardOutput=append:/var/log/interfluxfrance.com/systemd-stdout.log
StandardError=append:/var/log/interfluxfrance.com/systemd-stderr.log

[Install]
WantedBy=multi-user.target